aniso8601==7.0.0
argon2-cffi==20.1.0
asgiref==3.2.10
cffi==1.14.2
Django==3.1
django-cors-headers==3.4.0
django-debug-toolbar==2.2
django-environ==0.4.5
django-model-utils==4.0.0
django-reversion==3.0.7
graphene==2.1.8
graphene-django==2.13.0
graphql-core==2.3.2
graphql-relay==2.0.1
pkg-resources==0.0.0
promise==2.3
psycopg2==2.8.5
pycparser==2.20
pytz==2020.1
Rx==1.6.1
singledispatch==3.4.0.3
six==1.15.0
sqlparse==0.3.1
Unidecode==1.1.1
